# Arquivos de ambiente
.env

# Arquivos de dados
data/raw/
data/processed/

# Outputs temporários
outputs/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/
